extends /index.jade

block hero

block body
  section.contact
    .article.article--center
      h1 Bedankt voor uw bericht.
      h2 Ik neem zo spoedig mogelijk met u contact op!
      h3 
        &mdash; Mike Hardeman