extends layout/layout.jade

block body
  ul.points
    li.points__item
      i.icon.icon--medium.icon-doos
      h2.points__item__title Verzorgen aangiftes
      .points__item__summary Het opstellen van de jaarrekening tot aan correspondentie met de belastingdienst
    li.points__item
      i.icon.icon--medium.icon-scherm
      h2.points__item__title Dienstverlening
      .points__item__summary Lorem ipsum dollar set atrem
    li.points__item
      i.icon.icon--medium.icon-calender
      h2.points__item__title Financiele plannning
      .points__item__summary Lorem ipsum dollar set atrem
    li.points__item
      i.icon.icon--medium.icon-koffer
      h2.points__item__title Interim opdrachten
      .points__item__summary Lorem ipsum dollar set atrem
  
  .about
    .about__content.about__content--picture
      br/
    .about__content.about__content--article
      article.article
        h2.article__title Over mijzelf
        .article__body
          p Mijn naam is Mike Hardeman en ik ben vanaf het afronden van mijn studie fiscaal recht aan de Universiteit van Tilburg (mei 2006 afgestudeerd) werkzaam in de fiscale adviespraktijk zowel nationaal als internationaal. 
          p Wat mij met name boeit aan mijn werk is het persoonlijke contact en het ontzorgen van de klant op fiscaal en financieel gebied. De diensten vermeld op mijn website zijn niet limitatief, maar is een greep uit de werkzaamheden welke ik op financieel en fiscaal gebied voor u kan verrichten.
          p Voel u vrij om mij per e-mail te benaderen of via het contactformulier. Ik zal dan zo spoedig mogelijk contact met u opnemen.
          
  .contact
    .contact__form
      br/
    .contact__info
      ul.info
        
        li.info__item
          i.icon.icon-email
          a(href='mailto: hallo@mikehardeman.nl') hallo@mikehardeman.nl
        
        li.info__item
          i.icon.icon-phone
          span +31 617140782
          
        li.info__item
          i.icon.icon-marker
          address Cavalerieweg 98
          address 3902JP Veenendaal
        
        li.info__item
          i.icon.icon-kvk
          span 62165194
          