extends layout/layout.jade

block body
  ul.points
    li.points__item
      i.icon.icon--medium.icon-doos
      h2.points__item__title Verzorgen aangiftes
      .points__item__summary Lorem ipsum dollar set atrem
    li.points__item
      i.icon.icon--medium.icon-scherm
      h2.points__item__title Dienstverlening
      .points__item__summary Lorem ipsum dollar set atrem
    li.points__item
      i.icon.icon--medium.icon-calender
      h2.points__item__title Financiele plannning
      .points__item__summary Lorem ipsum dollar set atrem
    li.points__item
      i.icon.icon--medium.icon-koffer
      h2.points__item__title Interim opdrachten
      .points__item__summary Lorem ipsum dollar set atrem
  
  .about
    .about__content.about__content--picture
      br/
    .about__content.about__content--article
      article.article
        h2.article__title Over mijzelf
        .article__body
          p Mijn naam is Mike Hardeman en ik ben vanaf het afronden van mijn studie fiscaal recht aan de Universiteit van Tilburg (mei 2006 afgestudeerd) werkzaam in de fiscale adviespraktijk zowel nationaal als internationaal. 
          p Wat mij met name boeit aan mijn werk is het persoonlijke contact en het ontzorgen van de klant op fiscaal en financieel gebied. De diensten vermeld op mijn website zijn niet limitatief, maar is een greep uit de werkzaamheden welke ik op financieel en fiscaal gebied voor u kan verrichten.
          p Voel u vrij om mij per e-mail te benaderen of via het contactformulier. Ik zal dan zo spoedig mogelijk contact met u opnemen.
  
  .contact
    .contact__form
      #wufoo-z156zspk1yeii7l
        | Fill out my 
        a(href='https://nieuwegiessen.wufoo.com/forms/z156zspk1yeii7l') online form
        script(type='text/javascript').
          var z156zspk1yeii7l;(function(d, t) { var s = d.createElement(t), options = { 'userName':'nieuwegiessen', 'formHash':'z156zspk1yeii7l', 'autoResize':true, 'height':'497', 'async':true, 'host':'wufoo.com', 'header':'show', 'ssl':true}; s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js'; s.onload = s.onreadystatechange = function() { var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return; try { z156zspk1yeii7l = new WufooForm();z156zspk1yeii7l.initialize(options);z156zspk1yeii7l.display(); } catch (e) {}}; var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr); })(document, 'script');


    .contact__info