.i-gallery.i-gallery--3-cols
  
  .i-gallery__item
    .i-item.i-item--plain.i-icon
      .i-item__media
        .i-icon.i-icon-beneden.i-icon--strong.i-icon--large
      .i-item__content
        .i-item__title beneden
        .i-item__description E001
  .i-gallery__item
    .i-item.i-item--plain.i-icon
      .i-item__media
        .i-icon.i-icon-calender.i-icon--strong.i-icon--large
      .i-item__content
        .i-item__title calender
        .i-item__description E002
  .i-gallery__item
    .i-item.i-item--plain.i-icon
      .i-item__media
        .i-icon.i-icon-doos.i-icon--strong.i-icon--large
      .i-item__content
        .i-item__title doos
        .i-item__description E003
  .i-gallery__item
    .i-item.i-item--plain.i-icon
      .i-item__media
        .i-icon.i-icon-email.i-icon--strong.i-icon--large
      .i-item__content
        .i-item__title email
        .i-item__description E004
  .i-gallery__item
    .i-item.i-item--plain.i-icon
      .i-item__media
        .i-icon.i-icon-koffer.i-icon--strong.i-icon--large
      .i-item__content
        .i-item__title koffer
        .i-item__description E005
  .i-gallery__item
    .i-item.i-item--plain.i-icon
      .i-item__media
        .i-icon.i-icon-kvk.i-icon--strong.i-icon--large
      .i-item__content
        .i-item__title kvk
        .i-item__description E006
  .i-gallery__item
    .i-item.i-item--plain.i-icon
      .i-item__media
        .i-icon.i-icon-marker.i-icon--strong.i-icon--large
      .i-item__content
        .i-item__title marker
        .i-item__description E007
  .i-gallery__item
    .i-item.i-item--plain.i-icon
      .i-item__media
        .i-icon.i-icon-phone.i-icon--strong.i-icon--large
      .i-item__content
        .i-item__title phone
        .i-item__description E008
  .i-gallery__item
    .i-item.i-item--plain.i-icon
      .i-item__media
        .i-icon.i-icon-scherm.i-icon--strong.i-icon--large
      .i-item__content
        .i-item__title scherm
        .i-item__description E009