.bullets {
  text-align: left;
  display: block;
  list-style: none;
  padding: 1rem 0;
  
  &__item {
    display: inline-block;
    @extend .icon;
    @extend .icon-checkmark;
    @extend .icon--small;
    padding: 0 1.5rem;
    position: relative;
    color: $points-summary-text-color;
    @include type-regular;
    @include type-light;
    
    &:after {
      position: absolute;
      left: 0;
      top: rem(4px);
    }
  }
  
  &__item + &__item {
    margin-top: .5rem;
  }
  
  @include break-mobile-landscape {
    text-align: center;
  }
  
  @include break-tablet-landscape {
    text-align: left;
  }
}