.footer {
  background: $footer-background-color;
  color: $footer-text-color;
  margin-top: 2rem;
  text-align: center;
  @include type-tiny;
  
  a {
    color: $grijs-donker;
    text-decoration: underline;
    
    &:hover {
      color: $blauw;
    }
  } 
  
  @include break-tablet-portrait {
    height: 20rem;
  }
}