

.hero {
  height: 30rem;
  position: relative;
  text-align: center;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/images/financieel-advies-mp.png");
 
  @include hidpi(2) {
    background-image: url("/images/financieel-advies-mp@2x.png");
  }
    
  &__icon {
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;
    @extend %s-icon-beneden;
    
    &:after {
      color: $hero-icon-color;
    } 
  }
  
  @include break-mobile-landscape {
    background-image: url("/images/financieel-advies-ml.png");
 
    @include hidpi(2) {
      background-image: url("/images/financieel-advies-ml@2x.png");
    }
  }
  
  @include break-tablet-portrait {
    height: 100vh;
    background-image: url("/images/financieel-advies-tp.png");
    
    @include hidpi(2) {
      background-image: url("/images/financieel-advies-tp@2x.png");
    }
  }
  
  @include break-tablet-landscape {
    height: 100vh;
    background-image: url("/images/financieel-advies-tl.png");
     
    @include hidpi(2) { 
      background-image: url("/images/financieel-advies-tl@2x.png");
    }
  }
  
  @include break-desktop {
    background-image: url("/images/financieel-advies.png");
    
    @include hidpi(2) {
      background-image: url("/images/financieel-advies@2x.png");   
    }
    @include hidpi(3) {
      background-image: url("/images/financieel-advies@3x.png");
    }
    @include hidpi(4) {
      background-image: url("/images/financieel-advies@3x.png");
    }
  }
} 