.info {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  
  .info__item {
    display: block;
    margin-bottom: 2rem;
    position: relative;
    padding: 0 0 0 3rem;
    
    .icon {
      position: absolute;
      left: 0;
      top: -0.3rem;
    }
  }
  
  @include break-tablet-landscape {
    padding-left: 2rem;
  }
}