.navbar {
  
  transition: background-color 0.4s, padding 0.2s, height 0.2s;
  
  &.is_stuck {
    z-index: 200;
    background: $navbar-stick-background-color;
    margin: 0 auto;
    width: 100% !important;
    padding-top: 0rem;
    
    .navbar__brand {
      display: block;
      margin-top: 1rem;
    }
    
    .navbar__menu {
      margin: 0;
    }
  }
  
  &__menu {
    list-style: none;
    
    &__item {
      line-height: 2rem;
      display: inline-block;
      margin-right: 2rem;
      
      > a {
        color: $navbar-link-color;
        text-decoration: none;
        
        &:hover {
          color: $navbar-link-color-hover;
        }
      }
      
      &--cta {
        padding: 0 0.75rem;
        border: rem(1px) solid $navbar-cta-border-color;
        border-radius: rem(8px);
      }
    }
  }
  
  @include break-tablet-portrait {
    
  }
      
  @include break-desktop {
    padding-top: 2rem;

    &__brand {
      @include span(5);
      text-align: left;
    }
    
    &__menu {
      transition: margin 0.2s;
      
      @include span(11);
      text-align: right;
      display: block;
      line-height: 5rem;
    }
  }
}