.points {
  list-style: none;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  border-top: rem(1px) solid $points-border-color;
  
  &__item {
    @include span(full); 
    display: block;
    text-align: center;
    padding: 2rem 0rem;
    border-bottom: rem(1px) solid $points-border-color;
    
    &:last-child {
      border-bottom: 0;
    }
    
    &__title {
      @extend .h2;
      margin: 0;
      color: $points-title-text-color;
    }
    &__summary{
      margin: 0 1rem;
    }
  }
  
  @include break-tablet-landscape {
    
    &__item {
      @include span(5.3); 
      padding: 4rem 0rem;
      border-right: rem(1px) solid $points-border-color;
      border-bottom: none;
      
      &:last-child {
        border-right: none;
      }
      
      .js &.js-animate {
        opacity: 0;
        transform: translateZ(0);
      }
      
      .js-animate & {
         animation: fadeInDown 0.3s;
         animation-fill-mode: forwards;
      }  
    }
  }
  
  @include break-desktop {
    &__item {
      @include span(5.3); 
      padding: 4rem 2rem;
    }
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, 40px, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}